<%= form_for(@movie, url: movie_path, method: :put) do |f| %>
<% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :actor %><br>
  <%= f.text_field :actor %>
</div>
<div class="field">
  <%= f.label :director%><br>
  <%= f.text_field :director %>
</div>
<div class="field">
  <%= f.label :release_date%><br>
  <%= f.date_field :release_date %>
</div>
<div class="field">
  <%= f.label :rating%><br>
  <%= f.radio_button :rating, 1 ,required: true%> 1<br />
  <%= f.radio_button :rating, 2,required: true %> 2<br />
  <%= f.radio_button :rating, 3,required: true %> 3<br />
  <%= f.radio_button :rating, 4,required: true %> 4<br />
  <%= f.radio_button :rating, 5,required: true %> 5<br/>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
