<!DOCTYPE html>
<html>
<head>
<style>
  #mytable,td{
    width:0px;

  }
</style>
</head>
<h1>Listing All Movies currently showings!</h1>
<table id="mytable" style=" text-align: center; font-size: x-large">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Actor</th>
      <th>Rating's</th>
      <th>Released On</th>
    </tr>
  </thead>

  <tbody>
    <% @movielist.each do |movie| %>
      <tr>
        <td><%= link_to movie.name,show_path(:id =>movie.id)%></td>
        <td><%= movie.actor %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.to_formatted_s(:long_ordinal) %></td>
        <td><%= link_to 'Ticket_History', bookings_movie_path(movie.id)  %></td>
        <td><%= link_to 'Edit Movie', edit_movie_path(movie.id)  %></td>
        <td><%= link_to 'Add Shows',new_show_path(:id =>movie.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add Movies',new_movie_path %>
</html>
