<%= form_for(@booking, url: show_bookings_path(@booking.show_id), method: :post) do |f| %>
<% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">

  Movie name:<input type="text" value=<%=@booking.show.movie.name%> readonly>
  User Name:<input type="text" value=<%=@booking.user.name%> readonly>
</div>
<div class="field">
  <%= f.label :ticket_booked %><br>
  <%= f.number_field :ticket_booked %>
</div>
<div class="field">
  <%= f.label :payment_method%><br>
  <%= f.radio_button :payment_method, 'Card' ,required: true%> Card<br />
  <%= f.radio_button :payment_method, 'Cash',required: true %> Cash<br />
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
