<p>
  <strong>Movie Name:</strong>
  <%=@booking.show.movie.name%>
</p>

<p>
  <strong>User Name :</strong>
  <%=@booking.user.name %>
</p>

<p>
  <strong>No of tickets booked</strong>
  <%= @booking.ticket_booked %>
</p>
<p>
  <strong>Total Amount paid:</strong>
  <%= @booking.total_amount %>
</p>
<p>
  <strong>Booking Date and Time:</strong>
  <%= @booking.booking_datetime %>
</p>
<p>
  <strong>Payment Mode</strong>
  <%= @booking.payment_method %>
</p>

<%= link_to 'Back', home_index_path %>
