<h1>Listing shows</h1>
<p id="notice"><%= notice %></p>
<table style="border-spacing: 35px; text-align: center; font-size: x-large;">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Venue</th>
      <th>Date&Timing</th>
      <th>Ticket_Available</th>
      <th>Price/Ticket</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.movie.name %></td>
        <td><%= show.venue %></td>
        <td><%= show.showtime %></td>
        <td><%= show.ticket_available %></td>
        <td><%= show.price%></td>
        <td><%= link_to 'book', new_show_booking_path(show_id: show.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Logout', logout_path, method: :delete %>
