<h1 style="padding:20px;">Booking History Page!</h1>
<script>
#mytable,td{
  width:0px
}
</script>
<div style="padding:20px;margin:10px"
</style>
<table id="mytable" style="text-align: center; font-size: x-large;width:1100px">
  <thead>
    <tr>
      <th>Movie Name:</th>
      <th>Venue:</th>
      <th>Date&Timing:</th>
      <th>Ticket_Booked:</th>
      <th>Total Amount:</th>
      <th>Booking Done @:</th>
      <th>Payment Mode:</th>

    </tr>
  </thead>

  <tbody>
    <% @ticket.each do |ticket| %>
      <tr>
        <td><%= ticket.show.movie.name %></td>
        <td><%= ticket.show.venue %></td>
        <td><%= ticket.show.showtime.to_formatted_s(:long_ordinal) %></td>
        <td><%= ticket.ticket_booked %></td>
        <td><%= ticket.total_amount%></td>
        <td><%= ticket.booking_datetime.to_formatted_s(:long_ordinal)%></td>
        <td><%= ticket.payment_method%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', home_index_path %>
